{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSpacing": true,
    "semi": true,
    "singleAttributePerLine": true,
    "jsxSingleQuote": true
}
